/* Write your CSS here */
.appointment {
  width: 300px;
  border: 1px solid #b5b7c4;
  border-radius: 10px;
  padding-left: 15px;
  list-style-type: none;
  padding-right: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
}
.appointment-container {
  display: flex;
  justify-content: space-between;
}
.star-button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
.title-appointment {
  font-family: 'Roboto';
  font-size: 16px;
  color: #171f46;
}

.star {
  margin-top: 10px;
  height: 20px;
  width: 20px;
}
.date-appointment {
  font-family: 'Roboto';
  font-size: 14px;
  color: #b5b7c4;
  font-weight: 400;
}
